@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Shadows+Into+Light&family=Smooch&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  color: #fff;
}

body{
  height: 100vh;
  background: url(images/food.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(50px);

  & .carousel{
    height: 100vh;
    overflow: hidden;
    position: relative;
    & .list{
      width: min(1200px, 90vw);
      margin: auto;
      height: 100%;
      position: relative;
      & .item{
        position: absolute;
        inset: 0;
        & figure{
          position: absolute;
          width: 70%;
          top: 50%;
          transform: translateY(-50%);
          & img{
            width: 100%;
            transform: rotate(-30deg);
          }
          &::before{
            content: '';
            position: absolute;
            background-color: #0b0b1b;
            width: 100%;
            height: 100px;
            top: 150%;
            left: 50px;
            border-radius: 50%;
            filter: blur(50px);
          }
        }
        & .content{
          position: absolute;
          z-index: 20;
          width: 70%;
          height: 100%;
          /* right: var(--w-column); */
          left: 30%;
          transform: translateX(-10%);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: end;
          gap: 20px;
          & .category{
            font-weight: 500;
          }

          & h2{
            font-family: 'League Gothic';
            font-size: 7rem;
            line-height: 1em;
            color: rgb(255, 255, 255);
          }

          & .description{
            align-items: center;
            padding: 10px;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            color: #fff;
            max-width: 400px;
            font-size: small;
            text-align: justify;
            & i{
              height: 50px;
              color: #ffea7c;
              font-size: 2em;
              border: 1px solid #659cdf;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        & .more{
          display: grid;
          grid-template-columns: repeat(2, 120px);
          /* gap: 20px; */
          grid-template-rows: 35px;
          & button{
            border-radius: 30px;
            font-family: 'League Gothic';
            text-transform: uppercase;
            color: #fff;
            background-color: transparent;
            border: none;
            position: relative;
            &:nth-child(1){
              background-image: linear-gradient(
                  to right, #81baa0, #46a39c
              );
            }
            &:nth-child(2){
              border: 2px solid transparent;
              background: linear-gradient(#242745, #242745) padding-box,
              linear-gradient(to right, #81baa0, #46a39c) border-box;
              & i{
                  margin-right: 10px;
              }
            }
          }
        }
      }
    }
  
    & .arrows{
      width: min(1200px, 90vw);
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -25px);
      pointer-events: none;
      z-index: 100;
      & button{
        top: 60%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #ac632755;
        background-color: rgba(123, 80, 45, 0.1);
        color: #fff;
        font-size: large;
        cursor: pointer;
        pointer-events: auto;
        transition: 0.5s;
        &:hover{
            border: 1px solid #171818;
            color: #fff;
        }
      }
    }

    & .indicators{
      position: absolute;
      top: 52%;
      height: var(--w-column);
      width: min(1200px, 90vw);
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      pointer-events: none;
      justify-content: end;
      gap: 10px;
      & .number{
        font-family: 'League Gothic';
        font-size: 7vw;
        display: none;
      }
    }
  }
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 35px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .50s ease;
}

body{
  .carousel{
      --calculation: 1; /* 1 or -1 */
      & .list{
          & .item{
              transform: translateX(calc(100vw * var(--calculation)));
              transition:  0.5s;
              opacity: 0;
              & figure{
                  & img{
                      transform: rotate(0deg);
                      transition: transform 0.5s;
                      transition-delay: 0.3s;
                  }
              }
              & .content{
                  & .category, h2, .description, .more{
                      transform: translateX(calc(200px * var(--calculation)));
                      transition:  0.7s;
                      opacity: 0;
                      transition-delay: 0.3s;
                  }
                  & h2{ transition-delay: 0.5s; }
                  & .description{ transition-delay: 0.7s; }
                  & .more{ transition-delay: 0.9s; }
              }
              &.active{
                  opacity: 1;
                  transform: translateX(0);
                  & figure{
                      & img{
                          transform: rotate(-20deg);
                      }
                  }
                  & .content{
                      & .category, h2, .description, .more{
                          transform: translateX(0px);
                          opacity: 1;
                      }
                  }
              }
              &.activeOld{
                  transform: translateX(calc(-100vw * var(--calculation)));
              }
          }
      }
  }
}

.logo{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Chicle", serif;
  letter-spacing: 2px;
}

.logo img{
  width: 50px;
  height: auto;
  margin-right: 15px;
}

.navlist{
  display: flex;

}

.navlist a{
  margin: 0;
  margin-left: 20px;
  font-size: 1.2rem;
  font-family: "Kalam", cursive;
  font-weight: 600;
  transition: 0.5s ease ;
}

.navlist a:hover{
  color: #000;
}


.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 5px;
}

@media (max-width:1080px){
  header{
    padding: 30px 5%;
  }

  :root{
    --w-column: 50px;
  }
  body{
      & .carousel{
          height: 100vh;
          & .list{
              & .item{
                  & .content{
                      justify-content: end;
                      padding-bottom: 100px;
                      & h2{
                          font-size: 5em;
                      }
                  }
                  & figure{
                      width: 110%;
                      transform: translateY(0);
                      top: 200px;
                      left: -30px;
                  }
              }
          }
          & .indicators{
              & .number{
                  font-size: 10em;
                  transform: translateX(50px);
                  opacity: 0.5;
              }
          }
      }
  }

}

@media (max-width:860px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .navlist{
    position: fixed;
    left: 0px;
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    transition: .3s ease-in-out;
  }

  .navitems{
    margin: 16px 0;
  }

  .navlist a:hover{
    color: orange;
  }

  .navlist.active{
    top: 110px;
  }

}

@media (max-width: 587px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .navlist{
    position: fixed;
    left: 0px;
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    transition: .3s ease-in-out;
  }

  .navitems{
    margin: 16px 0;
  }

  .navlist a:hover{
    color: orange;
  }

  .navlist.active{
    top: 110px;
  }

  :root{
    --w-column: 50px;
  }
  body{
      & .carousel{
          height: 100vh;
          & .list{
              & .item{
                  & .content{
                      justify-content: end;
                      padding-bottom: 100px;
                      & h2{
                          font-size: 5em;
                          text-align: center;
                      }
                  }
                  & figure{
                      width: 110%;
                      transform: translateY(0);
                      top: 200px;
                      left: -30px;
                  }
              }
          }
          & .indicators{
              & .number{
                  font-size: 10em;
                  transform: translateX(50px);
                  opacity: 0.5;
              }
          }

          & .arrows button{
            width: 35px;              /* Smaller width for mobile */
            height: 35px;             /* Smaller height for mobile */
            font-size: 1rem;        /* Smaller font size for icons */
            background-color: rgba(0, 0, 0, 0.1); /* Darker background on mobile */
            border: 1px solid rgba(123, 80, 45, 0.6); /* Adjust border for mobile */
          }
      }
  }
}
